.contact {
  padding: 84px 104px;
  margin-bottom: 100px;
  background-color: #f7fafe;
  border-radius: 16px;
  text-align: center;
  position: relative;

  &__title {
    font-family: $font-poppins;
    font-weight: 600;
    font-size: 64px;
    line-height: 88px;
    color: #2e2e2e;
    margin-bottom: 40px;
  }
  &__triangle {
    width: 40px;
    height: 40px;
    background-image: url("../../img/triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

      &:nth-child(1){
        bottom: 88px;
        left: -30px;
        transform: rotate(90deg);
      }
      &:nth-child(2){
        top: 0;
        left: 37%;
        transform: translateX(-60%);
      }
      &:nth-child(3){
        width: 72px;
        height: 72px;
        bottom: 40px;
        right: -11px;
      }
    }
    &__btn{
      display: flex;
      max-width: 220px;
      width: 100%;
      align-items: center;
      margin: 0 auto;
        i{
          color: #fff;
          font-size: 25px;
          margin-right: 11px;
          transition: all 0.4s ease;
        }
        &:hover i{
          color: $color-primary;
        }
    }
}

@media only screen and (max-width:572px) {
  .contact{  
    padding: 50px;
    
      &__title{
      font-size: 40px;
      line-height: 50px;
    }
  }
}
@media only screen and (max-width:358px) {
  .contact{
    padding: 30px;

      &__title{
        font-size: 30px;
        line-height: 40px;
      }
      &__triangle{
        display: none;
      }
  }
}